@charset "utf-8";

*{ margin:0; padding:0; text-decoration: none; box-sizing: border-box; font-family:inter; color: white;}
ul,li,ol{ list-style: none;}

#wrap{width: 100%; height: auto; position: relative;}
header{ width: 100%; height: 100px;display: flex; 
    justify-content: space-between; align-items: center; position:relative;
    z-index: 100;}
#header_manu{ width: 12%; display: flex; background-color: blue; justify-content: space-between;
        position: relative;}
/* 햄버거메뉴 */
        .container{ position:absolute;top: 55%;left: 27%;  transform: translate(-50%, -50%);
}
.menu{width: 50px;height: 44px;cursor: pointer; position: relative;border-radius: 12px;}
.menu div{ position: absolute;height: 1px;transition: width 0.5s ease;background-color: white;}
.one{ width: 28px; top: 17px; left: 14px;}
.two{width: 15px;top: 26px; left: 14px;}
.three{width: 28px;top:34px;left: 14px;}
.menu:hover div{width:30px;transition: width 0.5s ease;}

/* 언어선택 */
.country_toggle{ width: 26%; height: 30px; line-height: 30px; font-size: 13px;
                position: absolute; top: -10px; right:4%; border:0; background-color: transparent;}
/* 언어화살표 */
.arrow { position: relative; }
.arrow::after { position: absolute; left: 17px;  top: 4px; content: ''; width: 4px;  height: 4px;  border-top: 1px solid whitesmoke; border-right: 1px solid whitesmoke;   transform: rotate(135deg); }
#CS_toggle .arrow::after {top:2px; }

/* 언어 toggle */
#header_manu .dropdown_menu{ width: 22%; height: auto; position: absolute; top:26px; right: 11px; text-align: center; line-height: 30px;
                font-size: 10px; background-color: white; z-index:105;}
#header_manu .dropdown_menu li a{ color:rgb(207, 205, 205);}
#header_manu .dropdown_menu {display: none;}

/* logo */
#logo{ width:240px; height: 13px; display: flex; justify-content: center; line-height: 20px; text-align: center; 
        margin: 0 0 0 11%;}

#logo a p{font-size: 1.2vw; font-family: "Prata";}
#logo a p:nth-child(2){ font-size: 1vw;}

/* HOT CALL */
#CS_num{width: 24%; height: auto;display: flex; justify-content: space-around; flex-wrap: wrap;}
#CS_toggle{width:24%; height: auto;font-size: 0.8vw;
        display: flex; justify-content: center; align-items: center;}
.cstoggle{position: relative; display: flex;}
.cstoggle+ul{width: 14%; height: 190px; top: 87px; position: absolute;
                top:74px; right: 96px; background-color: whitesmoke;
                line-height: 29px; padding: 35px 0 0 35px; letter-spacing: 4px;}
.cstoggle+ul .cs_text{ color: rgb(207, 205, 205);}

.cs_img{padding: 5px 0 0 0;}
.cs_img img{width: 16%; margin-left: -4%;}
.cs_img a:nth-child(2) img{width: 15%;}
.cs_img a:nth-child(2){margin-left: 31px;}
#CS_toggle ul li{ font-weight: bold;}

#book_tap{width:33% height: 38px; padding:13px 23px; border: 1px solid whitesmoke;
        font-size: 0.8vw; }


/* 슬라이더 */
#slider{ width: 100%; height:646px; }
#slider video{ width:100%; height: auto;
        position: absolute; top:0; right: 0;}
.mini_slider{display: none;}

#slider_text{ width:100%; height: 530px; position: relative; z-index: 150; 
        display: flex; flex-direction: column; flex-wrap: wrap;
       ; left:-4%;}
.slider_text1{ font-size: 5vw; width: 55%; position: absolute; top: 13%; right: 8%; text-align: center;  }
.slider_text1 span{font-family:"Prata";}
.slider_text2{ width:19%; font-size: 1vw; line-height: 20px; position: absolute; bottom: 41%; right: 2%;
                font-weight: lighter;}
.btn1{ width: 24%; line-height: 30px; position: absolute; bottom: 19%;
        right: 1%; letter-spacing: 4px; font-size: 0.8vw;
        display: flex;} 
.btn-border{width:163px;height:132px;right:82%;top:-126%; position:absolute;}
.btn1 .triangle{ width: 0; height: 0;
                border-top: 17px solid transparent;

                border-left: 22px solid whitesmoke;
                border-right: 10px solid transparent;
                border-bottom: 17px solid transparent}

/* pool villa */

#about{ width: 100%; height: 900px;}
#about_line{display: flex; flex-wrap: wrap; position: relative;}
#about_text{ width: 50%; height:605px;position: relative;}
#about_text>p{font-size: 5vw; font-family: 'PRATA'; letter-spacing: 4px;
                position: absolute; top:32%; right: 0; z-index: 100; 
                color:rgb(50, 50, 50); line-height: 84px;text-align: right;}
#about_text .but{width: 38%; position: absolute; bottom: 21%; left: 13%;
                line-height: 22px; font-size: 1vw; color: rgb(138, 138, 138);}

#about_img{width: 50%; height: 605px; position: relative;}
.about_box{width: 817.2px; height: 600px;background-color: #f9efe9; position: absolute;
        top:200px; left:-12.1%;}

#about_img img{width: 497.2px; height: 395px; position:absolute;
                bottom:-16%; left:12%;}

.btn2{ width: 86%; line-height: 30px; position: absolute; bottom: 3%;
        right: 1%; letter-spacing: 4px; font-size: 0.8vw;
        display: flex;} 
.btn-border1{width:163px;height:132px;right:82%;top:-162%; opacity: 0.8; position:absolute;}
.line[data-v-5d883f52]{ left: 0; right: 0; bottom: 0; overflow: hidden;
        pointer-events: none; z-index: -2; max-width: 100%;}
.line[data-v-5d883f52], .line__border[data-v-5d883f52]{
        position: absolute;
        top:18px
}
.line__border[data-v-5d883f52]{ width: 1px; border-left: 1px solid rgba(58, 58, 57, 0.2);
         transform-origin: 0 0;}


/* hotel-room */
#room_kind{ width: 100%; height: 810px;
                display: flex; flex-wrap: wrap;}
#room_box{ width: 50%; height: 706px; position: relative;}
.room_img{width: 93%; height: 643px; position: absolute; top: 27px;}
.room-text{ width:69%; height: 393px;background-color: #f9efe9;
        position: absolute;bottom: -10px;right: -241px;}
.room-text>h1{font-size: 3vw;  font-family: 'PRATA'; color:rgb(50, 50, 50); margin: 60px;}
.room-text>p{width: 47%; line-height: 24px; margin: -6% 0 0 24%; font-size: 14px; color: #999;}
.btn3{ width: 86%; line-height: 30px; position: absolute; bottom: 20%;
        right: -13%; letter-spacing: 4px; font-size: 0.8vw;
        display: flex;} 
.btn-border2{width:163px;height:132px;right:82%;top:-162%; opacity: 0.8; position:absolute;}

.room-text2>h1{font-size: 5vw; font-family: 'Prata'; color:rgb(50, 50, 50);
                letter-spacing: 4px;}
.room-text2>p{width: 57%;margin: 0 23%; color:rgb(50, 50, 50);}


#hotel_img{ width: 100%; height: 530px;
        display: flex; justify-content: flex-end; padding: 40px 0;}
#hotel_img img{width:1384px; height: 450px;}


#a{width: 100%; height: 1213.09px;background-color: brown;}

#b{width: 100%; height: 1182px; background-color: aqua;}

#Events{ width: 100%; height: 1000.73px; background-color: aquamarine;}

#newsletter{ width: 100%; height: 843.56px; background-color: azure;}
.newsletter_text{ width: 810px; height: 395.56px; background-color: aqua; margin: 0 auto;}
#form{width: 100%; height: 298px; background-color: red; display: flex;justify-content: center;}
.newsletter_{ width: 810px; height: 298px;background-color: blue;}
form{width: 810px; height: 298px; background-color: gold;}