@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

*{ margin:0; padding:0; text-decoration: none; box-sizing: border-box; font-family:inter;}
ul,li,ol{ list-style: none;}

#wrap{width: 100%; height: auto; position: relative;}
header{ width: 100%; height: 100px;display: flex; 
    justify-content: space-between; align-items: center; position:relative;
    z-index: 100;}
#header_manu{ width: 12%; display: flex; background-color: blue; justify-content: space-between;
        position: relative;}
/* 햄버거메뉴 */
        .container{ position:absolute;top: 55%;left: 27%;  transform: translate(-50%, -50%);
}
.menu{width: 50px;height: 44px;cursor: pointer; position: relative;border-radius: 12px;}
.menu div{ position: absolute;height: 1px;transition: width 0.5s ease;background-color: white;}
.one{ width: 28px; top: 17px; left: 14px;}
.two{width: 15px;top: 26px; left: 14px;}
.three{width: 28px;top:34px;left: 14px;}
.menu:hover div{width:30px;transition: width 0.5s ease;}

/* 언어선택 */
.country_toggle{ width: 26%; height: 30px; line-height: 30px; font-size: 13px;
                position: absolute; top: -10px; right:4%; border:0; background-color: transparent;}
/* 언어화살표 */
.arrow { position: relative; }
.arrow::after { position: absolute; left: 17px;  top: 4px; content: ''; width: 4px;  height: 4px;  border-top: 1px solid whitesmoke; border-right: 1px solid whitesmoke;   transform: rotate(135deg); }
#CS_toggle .arrow::after {top:2px; }

/* 언어 toggle */
#header_manu .dropdown_menu{ width: 22%; height: auto; position: absolute; top:26px; right: 11px; text-align: center; line-height: 30px;
                font-size: 10px; background-color: white; z-index:105;}
#header_manu .dropdown_menu li a{ color:rgb(207, 205, 205);}
#header_manu .dropdown_menu {display: none;}

/* logo */
#logo{ width:240px; height: 13px; display: flex; justify-content: center; line-height: 20px; text-align: center; 
        margin: 0 0 0 11%;}

#logo a p{font-size: 1.2vw; font-family: "Prata";}
#logo a p:nth-child(2){ font-size: 1vw;}

/* HOT CALL */
#CS_num{width: 24%; height: auto;display: flex; justify-content: space-around; flex-wrap: wrap;}
#CS_toggle{width:24%; height: auto;font-size: 0.8vw;
        display: flex; justify-content: center; align-items: center;}
.cstoggle{position: relative; display: flex;}
.cstoggle+ul{width: 14%; height: 190px; top: 87px; position: absolute;
                top:74px; right: 96px; background-color: whitesmoke;
                line-height: 29px; padding: 35px 0 0 35px; letter-spacing: 4px;}
.cstoggle+ul .cs_text{ color: rgb(207, 205, 205);}

.cs_img{padding: 5px 0 0 0;}
.cs_img img{width: 16%; margin-left: -4%;}
.cs_img a:nth-child(2) img{width: 15%;}
.cs_img a:nth-child(2){margin-left: 31px;}
#CS_toggle ul li{ font-weight: bold;}

#book_tap{width:33%; height: 38px; padding:13px 23px; border: 1px solid whitesmoke;
        font-size: 0.8vw; }


/* 슬라이더 */
#slider{ width: 100%; height:646px; }
#slider video{ width:100%; height: auto;
        position: absolute; top:0; right: 0;}
.mini_slider{display: none;}

#slider_text{ width:100%; height: 530px; position: relative; z-index: 150; 
        display: flex; flex-direction: column; flex-wrap: wrap;
       ; left:-4%;}
.slider_text1{ font-size: 5vw; width: 55%; position: absolute; top: 13%; right: 8%; text-align: center;  }
.slider_text1 span{font-family:"Prata";}
.slider_text2{ width:19%; font-size: 1vw; line-height: 20px; position: absolute; bottom: 41%; right: 2%;
                font-weight: lighter;}
.btn1{ width: 24%; line-height: 30px; position: absolute; bottom: 19%;
        right: 1%; letter-spacing: 4px; font-size: 0.8vw;
        display: flex;} 
.btn-border{width:163px;height:132px;right:82%;top:-126%; position:absolute;}
.btn1 .triangle{ width: 0; height: 0;
                border-top: 17px solid transparent;

                border-left: 22px solid whitesmoke;
                border-right: 10px solid transparent;
                border-bottom: 17px solid transparent}

/* pool villa */

#about{ width: 100%; height: 900px;}
#about_line{display: flex; flex-wrap: wrap; position: relative;}
#about_text{ width: 50%; height:605px; position: relative;}
#about_text>p{font-size: 6vw; font-family:'Jeju Myeongjo', serif;; letter-spacing: 2px;
                font-weight: bold; position: absolute; top:32%; right: 0; z-index: 100; 
                color:rgb(50, 50, 50); line-height: 84px;text-align: right;}
#about_text .but{width: 38%; position: absolute; bottom: 21%; left: 13%;
                line-height: 22px; font-size: 1vw; color: rgb(138, 138, 138);}

#about_img{width: 50%; height: 605px; position: relative;}
.about_box{width: 809.2px; height: 600px;background-color: #f9efe9; position: absolute;
        top:200px; left:-12.1%;}

#about_img img{width: 497.2px; height: 395px; position:absolute;
                bottom:-16%; left:12%;}

.btn2{ width: 86%; line-height: 30px; position: absolute; bottom: 3%;
        right: 1%; letter-spacing: 4px; font-size: 0.8vw;
        display: flex;} 
.btn-border1{width:163px;height:132px;right:82%;top:-162%; opacity: 0.8; position:absolute;}
.line[data-v-5d883f52]{ left: 0; right: 0; bottom: 0; overflow: hidden;
        pointer-events: none; z-index: -2; max-width: 100%;}
.line[data-v-5d883f52], .line__border[data-v-5d883f52]{
        position: absolute;
        top:18px;
}
.line__border[data-v-5d883f52]{ width: 1px; border-left: 1px solid rgba(58, 58, 57, 0.2);
         transform-origin: 0 0;}


/* hotel-room */
#room_kind{ width: 100%; height: 810px;
                display: flex; flex-wrap: wrap; position: relative;}
#room_box{ width: 50%; height: 706px; position: relative;}
.room_img{width: 93%; height: 643px; position: absolute; top: 27px;}
.room-text{ width:69%; height: 393px;background-color: #f9efe9;
        position: absolute;bottom: 19px;right: -241px;}
.room-text>h1{font-size: 3vw;  font-family: 'PRATA'; color:rgb(50, 50, 50); margin: 60px;}
.room-text>p{width: 47%; line-height: 24px; margin: -6% 0 0 24%; font-size: 14px; color: #999;}
.btn3{ width: 86%; line-height: 30px; position: absolute; bottom: 20%;
        right: -13%; letter-spacing: 4px; font-size: 0.8vw;
        display: flex;} 
.btn-border2{width:163px;height:132px;right:82%;top:-162%; opacity: 0.8; position:absolute;}

.room-text2>h1{font-size: 6vw; font-family:'Jeju Myeongjo', serif;; color:rgb(50, 50, 50);
                letter-spacing: 2px; line-height: 68px; font-weight: bold;}
.room-text2>p{width: 57%;margin: 47px 35%; color:rgb(139, 139, 139); font-size:14px;}
#room_box>.line__border{ top:18px;}
.next{position: relative;}
.next_1::after{
        content: "";
        width: 8px;
        height: 8px;
        border-top:1px solid #323232;
        border-right: 1px solid #323232;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        top:263px;
        left: 280px;
        cursor: pointer;
}
.next_2::after{
        content: "";
        width: 8px;
        height: 8px;
        border-top:1px solid #323232;
        border-right: 1px solid #323232;
        display: inline-block;
        transform: rotate(225deg);
        position: absolute;
        top:346px;
        left: 280px;
        cursor: pointer;
}

.see a{ position:absolute;
        width: 185px;
        height: 30px;
        right: 30px;
        bottom: 115px;
        text-align: center;
        color:#7f7872;
        letter-spacing: 3px;
font-size: 13px;
        }




#hotel_img{ width: 100%; height: 530px;
        display: flex; justify-content: flex-end; padding: 40px 0;}
#hotel_img img{width:1384px; height: 450px;}


#ACCOMMODATION{width: 100%; height: 1136.09px; display: flex; flex-wrap: wrap;
                padding: 8% 0; position: relative;}
.tion_box{ width: 43%;height: 1000px; position: relative;}
.tion_box1{width: 57%; height: 909px; background-color: #f9efe9;}
#ACCOMMODATION h1{font-size: 7vw; font-family:'Jeju Myeongjo', serif;
                font-weight: bold; position: absolute; right: -19%;
                color:rgb(50, 50, 50); top:-42px}
#ACCOMMODATION p{width: 39%; font-size: 13px; position: absolute; top:18%; left: 23%; line-height: 23px;color:rgb(139, 139, 139);}
#ACCOMMODATION .img-box{display: flex; position: absolute; width: 82%; top:44%; right: 125px;justify-content: space-around;}
#ACCOMMODATION img{ width: 100%; height: 230px;}
#inpnity{position: relative;display: flex; flex-direction: column; flex-wrap: wrap;}
#inpnity p{ position: absolute;top:99%; left: 0; width: 100%;font-size: 3vw;
        font-family: 'Jeju Myeongjo', serif;
        letter-spacing: 2px; color: rgb(50, 50, 50);
                line-height: 53px; font-weight: bold;}
.read1{ position: absolute; bottom: -59%; color: #7f7872; letter-spacing: 4px; font-size: 13px;}
#BBQ{position:relative; display: flex; flex-direction: column; flex-wrap: wrap;}
#BBQ p{position: absolute; top:99%; left: 0;
        width: 101%;font-size: 3vw;
        font-family: 'Jeju Myeongjo', serif; line-height: 53px;
 letter-spacing: 2px; color: rgb(50, 50, 50); font-weight: bold;}
.read2{position: absolute; bottom: -59%; color: #7f7872; letter-spacing: 4px; font-size: 13px;}


#review{width: 100%; height: 700px;position: relative;}
#review h1{font-size: 6vw;font-family:'Jeju Myeongjo', serif;letter-spacing: -8px;
        position: absolute; top: -7%; right:34%; letter-spacing: -8px;
        color: rgb(50, 50, 50);}
#review .review_img{max-width: 100%; height: auto;}
.review_img img{width:250px; height: 300px; margin:25px; }
.review_{width: 100%; margin: 0 auto; position:relative;}
.review_ p{font-size: 2vw; font-family: 'Prata'; color: rgb(50, 50, 50);
        transform: translate(27%, -60px);}
.review_ .see_2{    position: absolute;
        width: 185px;
        height: 30px;
        text-align: center;
        letter-spacing: 3px;
        font-size: 13px;
        bottom: -9px;
        left: 24%;}
        .see_2 a{  color: #7f7872;}
.review_ .line{top:-12px}

.review_1 {display: flex; width: 80%; height: 581px; overflow: hidden; 
                margin:0 auto; align-items: center;}

                .next_4::after{
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-top:1px solid #323232;
                        border-right: 1px solid #323232;
                        display: inline-block;
                        transform: rotate(45deg);
                        position: absolute;
                        top:252px;
                       right: 165px;
                        cursor: pointer;
                }
                .next_3::after{
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-top:1px solid #323232;
                        border-right: 1px solid #323232;
                        display: inline-block;
                        transform: rotate(225deg);
                        position: absolute;
                      
                        cursor: pointer;
                }

#Events{ width: 100%; height:903.73px; position: relative; padding: 73px 0;}
#Event_s{width: 860px;height: 732px; background-color: #f9efe9;}
#Events h1{position: absolute; font-size: 6vw; font-family:'Jeju Myeongjo', serif;
       font-weight: bold; width: 26%; left:53%; top: 9px; letter-spacing: -4px; color: rgb(50, 50, 50);}

.see_{position: absolute;
        width: 185px;
        height: 30px;
        right: 30px;
        text-align: center;
      
        letter-spacing: 3px;
        font-size: 13px;
        top: 24%;}       
        .see_ a{  color: #7f7872;}
#slider_box{position: absolute;top:20%; height: 477px; width: 100%;
        overflow: hidden; z-index: 100;}
#offer_box{width: 181%; height: 378px;position:absolute; top:14%;  display: flex;
                justify-content: space-around;
                pointer-events: none; transition: all 0.3s;
               }
.offer_img1{height: 100%; margin:3px; position: relative;}
.o_text_box{position: absolute; width: 406px; top:68%; left:0; }
.o_text_box>p{font-size: 2vw; color: rgb(50, 50, 50); font-family:'Jeju Myeongjo', serif;} 
.o_text_box>span{color: rgb(138, 138, 138);}
 .offer_img1 img{ width: 406px; height: 197.48px; transform: translate(0, 24%); }
.o_text_box .read3 a{ display: block; margin: 32px 0 0 5px;
                font-size: 13px;color: rgb(138, 138, 138);}

#Events .line[data-v-5d883f52], .line__border[data-v-5d883f52]{
        position: absolute;
        top:37px;
}


 
#newsletter{ width: 100%; height: 638.56px;
                display: flex; flex-wrap: wrap;}
.newsletter_text{ width:50%; height: 395.56px;position: relative; margin: 0 auto;}
.newsletter_text p{width: 93%; font-size: 49px; position: absolute;
               right: 0; text-align: right; font-family: 'Prata'; color: rgb(50, 50, 50);
                line-height: 51px;}
.newsletter_text span{position: absolute; bottom: 39%;left: 26%; color:rgb(138, 138, 138);}
#form{width: 50%; height: 395px; display: flex;justify-content: center; position: relative;
      }
#form input{width: 90%; height: 26px; margin: 10px 0;
        border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #323232;}

.newsletter_{ width: 810px; height: 298px;}
form{width: 82%; height: 207px; position: absolute; font-size: 13px;
        top:54%; left: 15%;   color:rgb(138, 138, 138) ;}
        
 .radio {position: relative;}
 .radio input[type="radio"] {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip:rect(0,0,0,0);
          border: 0;
        }
        .radio input[type="radio"] + label {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          color:rgb(138, 138, 138);
          margin: 10% 0;
        }
        .radio input[type="radio"] + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: -4px;
          width: 21px;
          height: 21px;
          text-align: center;
          background: #fafafa;
          border: 1px solid #cacece;
          border-radius: 0;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        }
        .radioinput[type="radio"] + label:active:before,
        .radio input[type="radio"]:checked + label:active:before  {
          box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }
        .radio input[type="radio"]:checked + label:before {
          background: #E9ECEE;
          border-color: #adb8c0;
        }
        .radio input[type="radio"]:checked + label:after {
          content: '';
          position: absolute;
          top: 1px;
          left: 5px;
          width: 13px;
          height: 13px;
          background: #99a1a7;
          border-radius: 0;
          box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        }
.radio label a{color:rgb(138, 138, 138);}
form .form_a{border: none; color: rgb(50,50,50); position: absolute;
                right: 23%; letter-spacing: 5px; background-color: none;
        }

#neighbourhood{width: 100%; height: 1004px; position: relative;
        display: flex;flex-direction: column; flex-wrap: wrap;justify-content: space-between;}
#neighbourhood img{width: 92%; height: 450px;}
#neighbourhood p{font-size: 5.5em; font-family: 'prata'; position: absolute;
                left: 19%; bottom: 38%; color: rgb(50,50,50);}
#neighbourhood a{ width: 21%; position: absolute; bottom: 21%; right: 18%;
                font-size: 14px; color: rgb(50,50,50);}
#neighbourhood span{width: 20%; position: absolute; bottom: 27%; right: 19%;}

#map{width: 100%; height: 387px; position: relative;}
#video{width: 91%; height: 387px; overflow: hidden; position: absolute; right: 0;}
video{width: 100%; height: auto;}
.background_after{width: 100%;height: 387px;}
.background_after::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsla(0,0%,100%,.5);
        z-index: 5;
}
#map>p{font-size: 3em; position: absolute; z-index: 10; width: 40%;
        text-align: right; font-family: 'prata'; left: 3%;top:13%; line-height: 54px;}
.map_a{display: flex;flex-wrap: wrap; width: 30%;background-color: gold;}