@charset "utf-8";
@font-face {
        font-family: 'SUIT-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
      }

@media (min-width:320px) and (max-width:774px){


#wrap{ width: 100%; overflow: hidden;}

#slider video{display: none;}
#slider{height: 1022px;}
.slider_videeo{ position: relative; height: 1109px;}
.mini_slider{display: block; position: absolute;top: 0; left: 0; width: 100%; height: 112vh; }
#slider_text{ left:0; align-items: flex-start; width:100%;top:133px;}
.slider_text1{ font-size: 2.5em; width: 130%;text-align: justify; top:177px; left: 16px;}

.slider_text2{width:96%; top:335px; font-size: 1em; left: 16px;}

/* WATCH THE FILM */
.btn1{width: 56%; top:65% ;left:60px;}
.btn1 .btn-border{width: 45%; height: 224px; right: 62%; top:80px;}
.btn1>a{position: absolute; top:184px; left: 35px; font-size: 3em; }





/* Pool villa Room */
#about{height: 980px;}
#about_line>p{font-size:40px; line-height: 40px;
font-weight: bold; letter-spacing: 1px; top:13%; width: 93%; right: 9px;}

#about_line{flex-direction: column;}
#about_line .line{top:-12%;}
#about_text{width: 100%;}
#about_text .but{width: 92%; bottom: -5%; left: 3%;
                line-height: 27px; font-size: 3vw; padding: 4px; text-align: justify;}
#about_img{width: 100%;position: absolute; top: 12%; height: 435px;}
.about_box{width: 102%; height: 408px; top:8%; }
#about_img img{width: 50%;height:254px; bottom: 16%; left: 27%;}
.btn-border1{width: 49%; right: 61%; top:90px;}
.btn2 svg{top:74px;}
.btn2 a span{font-size: 13px; position: absolute; top:149px!important;}
.btn2 a{bottom:0 ; left: -10%;}
#room_kind .line[data-v-5d883f52]{
        top: -19%;
}
#room_kind{height:789px;}
#room_box{width: 100%;}
.room-text2{width: 100%; position: absolute; top:-3%; left:10%;}
.room-text2>h1{font-size: 2em;line-height: 25px;  top:-65px; left: -23px;}
.room-text2>p{width: 100%; margin: 29px 0; font-size: 1em; left:-23px;}
.room_img{width: 100%; height: 419px; top:2px;}
.room-text{width: 96%;height: 362px; top: 30%; left: 1px;}
#room_text_box{left:0; top:0; }
.room_>p{width: 95%; margin: 2%;}

.room_>h1{ width: 83%; font-size: 30px; margin: 30px 11px!important;}
.btn-border2{width: 49%; right: 76%; top: -250%; }
.btn3>a{position: relative; top: -33px; font-size: 1em;}
.btn3 a span{font-size: 13px;}
.btn3{bottom:-57%}
.next{position: relative; width: 100%; height: 30px; top:-25%}

.next_1::after{
        top:108%;
        left: 73%;
        position: absolute;
     
}
.next_2::after{
        top:110%;
        left:25%;
        position: absolute;
}
.see a{font-size: 15px;
       right: 24%;
        bottom: 20px;}

#hotel_img{
        width: 100%;
        height: 250px;
        padding: 0;
        top: 54px;
        position:relative;
}       

#hotel_img img{width: 100%; height: inherit;}


.tion_box{width: 100%;}
#ACCOMMODATION{height: 1249px;}
#ACCOMMODATION .line{top: 3%;}
#ACCOMMODATION h1{
        font-size: 4em;
        right: 5%;
        top: 121px;
        z-index: 3;
}

#ACCOMMODATION p{
        width: 100%;
        top:21%;
        left: 1%;
        font-size: 1em;
        padding: 11px;
}

.tion_box1{height: 785px; top:32%}
#ACCOMMODATION .img-box{width: 100%; height: 777px; top:35%; right: 8px;}
#ACCOMMODATION .img-box img{height: 180px;}
#ACCOMMODATION #inpnity{width:79%;}
#ACCOMMODATION #inpnity p{ top:48%; line-height: 35px; left: 0; font-size: 30px;} 
#ACCOMMODATION .img-box .read1{ display: block; position: absolute;
                top:75%; width: 150px; left: 3%; }
#ACCOMMODATION .img-box .read1 a{font-size: 15px;}
#ACCOMMODATION #BBQ{width:79%;}
#ACCOMMODATION #BBQ p{ top:48%; line-height: 35px; left: 0; font-size: 30px;} 
#ACCOMMODATION .img-box .read1 ,.read2{height: 161px;}
#ACCOMMODATION .img-box .read1{top:43%}
#ACCOMMODATION .img-box .read2{ display: block; position: absolute;
        top:42%; width: 150px; left: 3%; }
#ACCOMMODATION .img-box .read2 a{font-size: 15px;} 

.line[data-v-5d883f52]{top:10%;}



.overflow_hidden{ width: 100%; position: absolute; top:-20px;}
#review{height: 900px;}

#review h1{font-size: 3.5em; top:8%; left: 8%;}
.review_{top:-5%}
.review_img{width: 100%; position: absolute; right: 5px;}
.review_img img{text-align: center; width: 80% ; height: 385px; margin: 12%;}
#review .line{top:-3%}
.review_1{height: 902px;}
.next_3{ bottom: 25%; left:15%}
.next_4{bottom: 25%; right: 15%;}

.review_ p{ font-size: 0.8em; transform: translate(20%, -450%);}
#review .btn-border{width: 38%; top:75%; height: 200px;  left:40%;}
.see_2{bottom: 98px; left: 45%;}


#Events{width:100%; height: 612px;}
#Event_s{width: 100%; height: 522px;}
#Event_s h1{ width: 75%; font-size:3em; left:22%;top:-4%; letter-spacing: 2px; text-align: right; }
#slider_box{top:12%;}
#offer_box{width:480%; margin: 0 0 0 4%;  justify-content: flex-start;}
.offer_img1{right:7px ;}
.offer_img1 img{width: 96%; height: 223px;}
.see_{top:89%; right:0;}
.o_text_box{font-size: 1em; top:79%; width: 94%; left: 1%;} 
.o_text_box p{font-size: 1.5em; color: #555; margin: 5% 0;}


#newsletter{height: 540px;} 
.newsletter_text{width: 100%; height: 128px;}
.newsletter_text p{ width: 100%;
        font-size:1.8em; text-align: left; line-height: 29px; right: -3%; top:6%}
.newsletter_text span { top:114%; left: 4%; }

#form{width: 100%; top:2%}
#form input{width: 96%;}
form{width: 95%; top: 18%;left: 4%;}
form .form a{bottom:-39%;}


#neighbourhood{height: 550px;}
.nei_img_ov{ width: 100%; height: 200px; overflow: hidden;}
#neighbourhood img{width: 100%; height: auto;}
#neighbourhood p { font-size: 2em; left: 3%; top:37%;}

#neighbourhood span { width: 97%; bottom: 37%; right: 1%; }
#neighbourhood .line[data-v-5d883f52] { top: 19%;}

#neighbourhood a { bottom: 25%; right: 66%; }

#map{height: 212px;}
#map>p {font-size: 1.5em; width: 98%;left: 8px; top: 17%; line-height: 24px; text-align:left; }
.map_a{width: 90%; height: 200px; bottom:-2%;left:7% }
.map_a a{font-size:0.8em;}
.map_a a:nth-of-type(1){display: block; position: absolute; top:53%;}
.map_a a:nth-of-type(2){display: block; left: 1px;bottom:13%;}

#video{ width: 100%; top:7%; height: 193px;}
#map>p{font-size:4.5vw; line-height: 106%;}
#map>p a{bottom:3%;}
#map_a a:nth-of-type(2){bottom:6%;}
#about_hotel{height: 79px;}
#about_hotel a {font-size: 9vw;left:23%; padding: 50px 0 0 0; width: 71%;}

}


@media (min-width:775px) and (max-width:1000px){


#slider{height: 1030px;}
#slider .slider_vieeo{height: 1030px;}
#slider video{display: none;}
.mid_slider{width: 100%; height: 112vh; display:block; position: absolute; top:0;left:0;}
.mid2_slider{display: none;}
#header_manu .dropdown_menu {width: 32%; right: -9px; }
.slider_text1 {width: 60%; font-size: 4em; top: 64%; right: 25%; text-align: left;}
.slider_text2 { width: 38%; line-height: 25px; bottom: -17%; font-size: 0.8em;}
.btn1{width: 32%; bottom: -21%; right: 19%; font-size: 1vw;}
#about { height: 721px;}
#about_line>p {top: 9%;left: 4%; line-height: 74px; font-size:5em; letter-spacing: -2px;}
 .about_box { width: 121%; height: 500px; top: 155px; left: -62px; }
#about_img img {width:71%; height: 311px; top:25%; left:12%;}
#about_text .but {width: 54%; position: absolute; left: 10%; font-size: 0.8em;
      top: 57%;}
.btn2{width: 66%; bottom: 50%; right: 20%; }
.line[data-v-5d883f52]{top: -146px;}
.line[data-v-5d883f52] {left: 114%; overflow:inherit}
.room_{margin-left:-16px;}
.room_img {height: 422px;}
.room_>p{width: 60%;margin: -4px 0 0 31%;}
#room_kind{height: 837px;}
.room-text { width: 370px;height: 370px;padding: 0;}
.room_img_box{height: 422px; position: absolute; top:10%}
.room_ h1{font-size:3em; margin: 44px!important;}
.room1{margin:0;}
#room_text_box{height: 422px;top:30%;}
.room-text2>h1 {font-size: 5em;letter-spacing: 0;line-height: 68px; left: 12%;top: 4%;}
.room-text2>p { width: 100%;top: 24%; left: 14%; }
.next_1::after {left: 94px;}
.next_2::after {left: 97px;}
#hotel_img{height: 454px;}
#hotel_img img{height: 400px;}
#ACCOMMODATION{height: 971px;}
#ACCOMMODATION h1 {font-size: 6em; left:35px; top: 4px;  }
.tion_box1{height: 587px; top:24%}


#ACCOMMODATION .tion_box p {width: 65%;font-size: 14px; top: 16%; left: 8%;}
#ACCOMMODATION p{width: 65%;font-size: 14px; top: 12%; left: 8%;}
#ACCOMMODATION img{width: 100%; height:221px;}
#ACCOMMODATION .img-box { width: 99%;top: 42%;right: -1px;}
#inpnity{width: 45%;}
#inpnity p{width: 100%; top:97%; left:1%; font-size: 2em;line-height: 40px;}
#BBQ{width: 45%; }
#BBQ p{ top:97%; left:1%; font-size: 2em;}

.tion_box{height: 800px;}
.read1 a{bottom:-54%; left: 3%;}
.read2 a{bottom:-54%; left: 3%;}
#ACCOMMODATION .line{left:-28%}

#review{left:16px; height: 876px;}
.review_{height:742px;}
.review_1{height: 679px;}
#review h1 {font-size: 7em; left:38px; top:-22px;}
.next_3::after{ bottom: 60px; left:55px;}
.overflow_hidden{width: 64%;}
.next_3{bottom: 51%; left: 7%;}           
 .next_4{bottom: 51%;right: 104px;}  
 .review_1 {height: 679px; margin-left: -26px!important; }
#review .btn-border{ top:80%}
.review_ p{position: absolute; left:0; font-size: 1.5em; transform:translate(15%, -60px);}
.see_2{bottom:7%}
#Events{height: 911px;}
#Events .line{left:-3%;}
#Events .line[data-v-5d883f52]{top:8%}
#Event_s{height: 745px;}
#Event_s h1 { font-size: 7em; left: 33px;top: 61px; letter-spacing: 1px;}
#slider_box{top:34%; width: 150%;}
.o_text_box{width: 390px; top:98%}
.o_text_box>p{margin: 11px 0;}
.see_{top:32%}
.newsletter_text p{width: 625px; left: 6%; top:10%; text-align: left; font-size: 2.5em;}
.newsletter_text span{left:6% ;top:45%;}
form{width: 100%; left: 0;}


.offer_img1{width: 16%; height: 93%;}
.offer_img1 img{height: 269px;}
#neighbourhood{height: 924px;}
#neighbourhood img{width: 97%; height: 428px;}
#neighbourhood p{font-size: 5em;left: 162px;top: 50%;}
#neighbourhood .line{left:134px; top:8%}
#neighbourhood span{width: 27%;bottom: 23%; right: 15%;}
#neighbourhood .btn-border{width: 14%!important; right: 32%!important; top:77%!important;}
#neighbourhood a{bottom:13%;}


#video{width: 97%; height:300px;}
#map{height:300px;}
#map>p{width: 88%;font-size: 2.5em;line-height: 52px; top:53px;}
.map_a a:nth-child(2) { left: 44%;}
.map_a{bottom: 24%;}
#about_hotel a {left:20% ;font-size:5em;}

}  

@media (min-width:1001px) and (max-width:1206px){
.slider_vieeo video{display: none;}
.mid2_slider{display: block; width: 100%; height: 1080px; position: absolute;}
.slider_text1{font-size: 5em; right: 30%;}
.slider_text1 span{color:rgb(8, 8, 8);}
.slider_text2{ color:rgb(8,8,8); opacity: 1;}
.slider_text2 a{color: rgb(50,50,50)!important;}
.btn1 a span{color: rgb(8,8,8); font-size: 1.5em;}
#about_line>p {  font-size: 8vw; right: 58%;  line-height: 101px; width: 36%;}
.about_box{height: 850px; top:183px;}
#about_img img {  height: 437px; bottom: 18%; }
.room-text{width: 600px;}
.room4 h1{margin:85px 0!important; width: 100%;}
.btn3{font-size: 1em; bottom:-47%;}
#hotel_img{height: 590px;}
#hotel_img img{height: 519px;}

#inpnity{ width: 45%;}
#ACCOMMODATION{height: 1255px;}
#ACCOMMODATION .img-box {width: 100%; top:40%;  right: 69px;}
#ACCOMMODATION h1{right: 2%;}
#ACCOMMODATION p{width: 66%;}
#ACCOMMODATION img{width: 100%; height: 211px;margin-left: 15%;}
.tion_box1{ height: 845px;  top:12%;}
#neighbourhood .line[data-v-5d883f52]{top: 275px; }
#neighbourhood span{ width: 27%;}
#neighbourhood p{left: 13% ;top:54%;}
#inpnity p{top:99%; left: 74px; font-size: 2em;}
#BBQ p{top:99%; left:75px; font-size: 2em;}
#BBQ{width: 45%;}
.read1 a,.read2 a {left:20%}

#review h1{right: 9%;}
.review_1{height: 711px;}
.review_ p{font-size: 2em; position: absolute;}
.next_3, .next_4{bottom:60%;}
.next_4{right:28px ;}
.see_2{bottom:115px; left:78%}
#map{height: 391px;}
#video{height: 391px;}
#map>p{width: 88%; font-size: 3em;left:80px; line-height: 62px;}
#about_hotel a{left: 20%; padding:69px 0;}



}


@media (min-width:1207px) and (max-width:1600px){

.slider_vieeo video{display: none;}
.mid2_slider{display: block; width: 100%; height: 1080px; position: absolute;}
.slider_text1{font-size: 5em; right: 30%;}
.slider_text1 span{color:rgb(8, 8, 8);}
.slider_text2{ color:rgb(8,8,8); opacity: 1;}
.slider_text2 a{color: rgb(50,50,50)!important;}
.btn1 a span{color: rgb(8,8,8); font-size: 1.5em;}
#about_line>p {  font-size: 6rem; right: 58%;  line-height: 101px; width: 36%;}
.about_box{height: 850px; top:183px;}
#about_img img {  height: 437px; bottom: 18%; }
.room-text{width: 600px;}
.room4 h1{margin:85px 0!important; width: 100%;}
.btn3{font-size: 1em; bottom:-47%;}
#hotel_img{height: 590px;}
#hotel_img img{height: 519px;}

#inpnity{width: 45%;}
#ACCOMMODATION{height: 1255px;}
#ACCOMMODATION .img-box {width: 100%; top:40%;  right: 92px;}
#ACCOMMODATION h1{right: 18%;}
#ACCOMMODATION p{width: 66%;}
#ACCOMMODATION img{width: 100%; height: 211px;margin-left: 15%;}
.tion_box1{ height: 845px;  top:12%;}
#neighbourhood .line[data-v-5d883f52]{top: 275px; }
#neighbourhood span{ width: 27%;}
#neighbourhood p{left: 13% ;top:54%;}
#inpnity p{top:99%; left: 96px; font-size: 2em;}
#BBQ p{top:99%; left:99px; font-size: 2em;}
#BBQ{width: 45%;}
.read1 , .read2{width: 224px; left: 18%;}


#review h1{right: 9%;}
.review_1{height: 711px;}
.review_ p{font-size: 2em; position: absolute;}
.next_3, .next_4{bottom:60%;}
.next_4{right:48px ;}
.see_2{bottom:115px; left:78%}
#map{height: 391px;}
#video{width:95%; height: 391px;}
#map>p{width: 90%; font-size: 3em;left:80px; line-height: 62px;}
#about_hotel a{left: 20%; padding:69px 0;}




}

@media (min-width:1601px){

 #ACCOMMODATION .img-box {width: 100%; right: 20px; }
 #ACCOMMODATION img { width: 107%;height: 314px; }
 #inpnity{width: 42%;}
 #inpnity p{font-size: 4em;}
 #BBQ{width: 42%;}
 #BBQ p{font-size: 4em;}


#map>p{font-size: 4em;}
}
