@charset "ntf-8";
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{ margin: 0; padding: 0; text-decoration: none; color:rgb(127, 127, 127); box-sizing: border-box;  font-family: 'SUIT-Regular';}
li, ul ,ol{ list-style-type: none;}

#wrap{width: 100%; height: auto;}
#top{height: 0;}

.a{display: none;}
#subs{display: flex; width: 17%; margin-left: 1%;}
#subs p{width: 20%;}
#room_n{ width: 100%; height: 497px; bottom:-132px; position:relative;}
.line[data-v-5d883f52]{top: -138px;}
#room_n h1{font-size: 6.5vw; font-family:'Jeju Myeongjo'; padding: 47px; color:rgb(40, 40, 40)}
#room_n ul{display: flex; width: 100%; height:auto; align-items: center; flex-wrap:wrap; }
#room_n ul li{ width: 11%; text-align: center; font-size: 1.5em; letter-spacing: 2px;}
#room_n ul li:nth-of-type(2){
  width: 115px;
}
#room_n ul li:nth-of-type(3){
  width: 245px;
}
#room_n ul li:nth-of-type(5){
  width: 255px;
}#room_n ul li:nth-of-type(6){
  width: 250px;
}
#room_n ul li:hover a{ color: #323232;}
#room_n ul li a{color: rgba(128,128,128,0.8);}

#room_k{width: 100%; height: auto;}
#room_k h2{position: absolute;}
#room_k article{width: 100%; height: 1111px; position: relative;}

#r-img-box{position: relative; width: 100%; height:100vh; top:1%}
.rm_img{width: 50%; height: 100vh; background: url(http://minjun1555.speedgabia.com/_elafonisi/room/4/3.jpg) no-repeat 40% 50%;
     background-size: cover;}
.rimg{display: flex;}
#r-img-box h2{padding: 4%; right: 51%;  font-size: 5vw; text-align: right; color: rgb(255,255,255);
        font-family: 'Jeju Myeongjo';}
.rr_img{width:23%; height: 450px; background: url(http://minjun1555.speedgabia.com/_elafonisi/room/4/19.jpg) no-repeat 42% 50%;
    background-size: cover; position: absolute; bottom: 13%; right: 10%;}
.rrr_img{width:23%; height: 450px;background: url(http://minjun1555.speedgabia.com/_elafonisi/room/4/4.jpg) no-repeat 50% 50%;
    background-size: cover;position: absolute; bottom:13%; right: 37%;}
 #r-text-box{position: absolute;top: 3%;right: 23%;line-height: 41px; opacity: 0;}
      
  
 .btn_1{width: 100px; height: 100px; position: relative; }
 
 .btn_1 span{width: 105px; color:#7f7872; margin:0 23px; position: absolute;top:31px;left: 6px; font-size:1em;}
.learn{position: absolute; right: 10%; }
.learn:hover{color: #323232;}




 #s-img-box{position: relative; width: 100%; height: 100vh;}
 .sm_img{width: 50%; height: 100vh; background: url(http://minjun1555.speedgabia.com/_elafonisi/room/5/1.jpg) no-repeat 22% 50%;
     background-size: cover; position: absolute; right: 0;}
 
 #s-img-box h2{padding: 7%; position: absolute; right: 0; z-index: 10; font-size: 5vw; text-align: right; color: rgb(255,255,255);
         font-family: 'Jeju Myeongjo';}
 .ss_img{width:23%; height: 450px;    background: url(http://minjun1555.speedgabia.com/_elafonisi/room/5/13.jpg) no-repeat 50% 50%;
     background-size: cover; position: absolute; top:35%;left: 34%;}
 .sss_img{width:23%; height: 450px;background: url(http://minjun1555.speedgabia.com/_elafonisi/room/5/12.jpg) no-repeat 50% 50%;
     background-size: cover; position: absolute; top:35%;left: 6%;}
  #s-text-box{position: absolute;top: 5%;left: 15%;line-height: 41px; opacity:0;}   
  .btn_2{width: 100px; height: 100px; position: relative; }
 
  .btn_2 span{width: 105px; color:#7f7872; margin:0 23px; position: absolute;top:31px;left: 6px; font-size:1em;}
  .btn_2:hover:hover{color: #323232;}
  .suite .learn{position: absolute; left: 10%; bottom: 169px;}


 #t-img-box{position: relative; width: 100%; height: auto;}
.tm_img{width: 50%; height: 100vh; background: url(http://minjun1555.speedgabia.com/_elafonisi/room/7/4.jpg) no-repeat 47% 50%;
    background-size: cover;}

#t-img-box h2{padding: 4%;  right: 51%; font-size: 5vw; text-align: right; color: rgb(255,255,255);
        font-family: 'Jeju Myeongjo';}
.tt_img{width:23%; height: 450px;    background: url(http://minjun1555.speedgabia.com/_elafonisi/room/7/1.jpg) no-repeat 42% 50%;
    background-size: cover; position: absolute; top:35%; right: 34%;}
.ttt_img{width:23%; height: 450px;    background: url(http://minjun1555.speedgabia.com/_elafonisi/room/7/11.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; top:35%; right: 6%;}
 #t-text-box{position: absolute;top: 3%;right: 23%;line-height: 41px; opacity:0;}   



 
 #t2-img-box{position: relative; width: 100%; height: 100vh;}
 .t2m_img{width: 50%; height: 100vh;    background: url(http://minjun1555.speedgabia.com/_elafonisi/room/6/1.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; right: 0;}
 
 #t2-img-box h2{padding: 4%; font-size: 5vw; position:absolute; right: 0;z-index: 10; text-align: right; color: rgb(255,255,255);
         font-family: 'Jeju Myeongjo';}
 .t22_img{width:23%; height: 450px;     background: url(http://minjun1555.speedgabia.com/_elafonisi/room/6/3.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; top:35%;left: 34%;}
 .t222_img{width:23%; height: 450px;background: url(http://minjun1555.speedgabia.com/_elafonisi/room/6/5.jpg) no-repeat 50% 50%;
    background-size: cover;position: absolute; top:35%;left: 6%;}
  #t2-text-box{position: absolute;top: 5%;left: 15%;line-height: 41px;opacity:0;}   
  .twin2 .learn{position: absolute; left: 10%; bottom: 169px;}



  #d-img-box{position: relative; width: 100%; height: auto;}
  .dm_img{width: 50%; height: 100vh;background: url(http://minjun1555.speedgabia.com/_elafonisi/room/9/1.jpg) no-repeat 50% 50%;
    background-size: cover;}
  
  #d-img-box h2{padding: 4%; right: 51%; font-size: 5vw; text-align: right; color: rgb(255,255,255);
          font-family: 'Jeju Myeongjo';}
  .dd_img{width:23%; height: 450px;    background: url(http://minjun1555.speedgabia.com/_elafonisi/room/9/5.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; top:35%; right: 34%;}
  .ddd_img{width:23%; height: 450px;      background: url(http://minjun1555.speedgabia.com/_elafonisi/room/9/7.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; top:35%; right: 6%;}
   #d-text-box{position: absolute;top: 3%;right:23%;line-height: 41px;opacity:0;}   
   .double .learn{position: absolute; right: 10%; bottom: 169px;}

 #d2-img-box{position: relative; width: 100%; height: 100vh;}
 .d2m_img{width: 50%; height: 100vh;    background: url(http://minjun1555.speedgabia.com/_elafonisi/room/8/3.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; right: 0;}
 
 #d2-img-box h2{position: absolute; right: 0; z-index: 10; padding: 5%; font-size: 5vw; text-align: right; color: rgb(255,255,255);
         font-family: 'Jeju Myeongjo';}
 .d22_img{width:23%; height: 450px; background: url(http://minjun1555.speedgabia.com/_elafonisi/room/8/7.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; top:35%;left: 34%;}
 .d222_img{width:23%; height: 450px;      background: url(http://minjun1555.speedgabia.com/_elafonisi/room/8/8.jpg) no-repeat 50% 50%;
    background-size: cover; position: absolute; top:35%;left: 6%;}
  #d2-text-box{position: absolute;top: 5%;left: 15%;line-height: 41px;opacity:0;}   
  
  .double2 .learn{position: absolute; left: 10%; bottom: 169px;}

  #about_hotel_1{width: 100%; height: 191px;  }
  #about_hotel_1 a{font-size: 6em; font-family: 'prata'; position: absolute; left: 30%; padding: 35px 0; color: rgb(50, 50, 50);}
  



/* 애니매이션 */
@keyframes slide1{
  from{
    right: -25%;
  }
  to{
    right: 25%;
  }
}
@keyframes slide2{
  from{
   left: -15%;
  }
  to{
    left: 15%;
  }
}
@keyframes slide2_1{
  from{
   left: -25%;
  }
  to{
    left: 8%;
  }
}

@keyframes slide1_2{
  from{
    left:-10%;
  }
  to{
    left:11%;;
  }
}
@keyframes slide1_2a{
  from{
    left:-10%;
  }
  to{
    left:3%;;
  }
}
@keyframes slide1_2a1{
  from{
    left:-10%;
  }
  to{
    left:75%;;
  }
}
@keyframes slide1_a{
  from{
    right:-10%;
  }
  to{
    right:11%;;
  }
}
@keyframes slide1_a1{
  from{
    right:-10%;
  }
  to{
    right:3%;
  }
}
@keyframes slide1_a11{
  from{
    right:-10%;
  }
  to{
    right:10%;
  }
}

  /* 반응형 */
  @media (min-width:320px) and (max-width:499px){
    #room_n{height: 410px;}
    #room_k{margin-top:14%;}
    #room_k article{height: 668px;}
    #r-img-box h2 {width: 100%; z-index: 10; padding:12%;font-size: 2em; right: 0; position: absolute; }
    #room_n h1{ padding: 12px; font-size: 14.5vw;}
    #room_n ul li{width: 100%; line-height: 30px; text-align: left; margin-left: 20px;}
    #room_n ul li a{font-size: 3vw;}
    #subs{width: 80%;}
    .a{display: block;}
    #r-img-box{width: 100%;  overflow: hidden; position: relative;}
    .rimg{width: 300%;}
   #r-img-box .r_img1{width: 33.33%; height: 400px; position: static; float: left;}
   
    .prev1{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next1{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

   
    #r-text-box{ width: 64%; top: 62%;right: 27%;line-height: 23px;font-size: 3vw; }
   .royal .learn{bottom: 16%; width: 129px;}
   .learn a{letter-spacing: 2px;}
   .learn a:hover{color: #323232;}
    .btn_1 span{width: 150px; font-size: 1.3em;left: -20px;}
 
    #r-text-box .btn_1:hover.btn_1 a span{color:#222;}
    #r-img-box h2 { position: absolute; z-index: 100; font-size: 3em;}

   
    #suite{width: 100%; overflow: hidden;}
    #s-img-box{width: 300%; position: relative;}
    #s-img-box .s_img1{width: 33.33%; height: 400px; position: static; float: left;}
    #s-text-box { top: 62%;left:32px;line-height: 23px;font-size: 3vw; }
    .suite .learn{bottom: 16%; left: 54%; width: 129px;}
    .btn_2 a span{top:123px!important; left:26px!important;}
    #s-img-box h2 {width: 33%; position: absolute; padding: 2%; z-index: 100; font-size: 3em;left: 0;}
    .prev2{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next2{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
    
    
    
    
    #twin{width: 100%; overflow: hidden;}
    #t-img-box{width: 300%; position: relative;}
    #t-img-box .t_img1{width: 33.33%; height: 400px; position: static; float: left;}
    #t-text-box { top: 62%;right:30%;line-height: 23px;font-size: 3vw; }
    .twin .learn{bottom: 16%; left: 54%; width: 129px;}
   
     #t-img-box h2 { width: 33%; position: absolute; padding: 2%; z-index: 100; font-size: 3em;left: 0;}
    .prev3{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next3{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

    
    #twin2{width: 100%; overflow: hidden;}
    #t2-img-box{width: 300%; position: relative;}
    #t2-img-box .t2_img1{width: 33.33%; height: 400px; position: static; float: left;}
    #t2-text-box { top: 62%;left:32px;line-height: 23px;font-size: 3vw; }
    .twin2 .learn{bottom: 16%; left: 54%; width: 129px;}
    .btn_2 a span{top:123px!important; left:37px!important;}
    .twin2 .learn{bottom: 14%; width: 129px;left: 75%;}
    #t2-img-box h2 { width: 33%; position: absolute; padding: 2%; z-index: 100; font-size: 3em;left: 0;}
    .prev4{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next4{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   


    #double{width: 100%; overflow: hidden;}
    #d-img-box{width: 300%; position: relative;}
    #d-img-box .d_img1{width: 33.33%; height: 400px; position: static; float: left;}
    #d-text-box { top: 62%;right: 29%;line-height: 23px;font-size: 3vw; }

    .btn_2 span{width: 150px; font-size: 1.3em;left: -20px;}
    #d-img-box h2 {width: 33%; padding: 2%; position: absolute; z-index: 100; font-size: 3em;left:0;}
    .prev5{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next5{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   



    #double2{width: 100%; overflow: hidden;}
    #d2-img-box{width: 300%; position: relative;}
    #d2-img-box .d2_img1{width: 33.33%; height: 400px; position: static; float: left;}
    #d2-text-box { top: 62%;left:32px;line-height: 23px;font-size: 3vw; }
    .double .learn{bottom: 14%; left: 54%; width: 129px;}
    .btn_2 a span{top:123px!important; left:37px!important;}
    #d2-img-box h2 { width: 100%; position: absolute; top:5%; right: 5%;  z-index: 100; font-size: 2.5em;}
    .double2 .learn{bottom: 16%; left: 54%; width: 129px;}
    .prev6{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next6{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

    
    
    #about_hotel_1{ height:71px ;}
    #about_hotel_1 a { font-size: 1em;}

  }


  @media (min-width:500px) and (max-width:766px){

    #room_n{height:480px;}
    #room_k article{height: 700px;}
    #room_n h1{ padding: 12px; font-size: 4.5em;}
    #room_n ul li{width: 100%; line-height: 30px; font-size: 0.4em; text-align: left; margin-left: 20px;}
    #room_n ul li a{font-size: 3em;}
    #r-img-box{width: 100%; height: 400px; position: relative; overflow: hidden;}
    #subs{width: 51%;}
    .rimg{width: 300%; display: block; }
     .rimg .r_img1{width: 33.33%; height: 400px; float: left; position: static;}
    #r-text-box {width: 100%; top: 62%;left:8%;line-height: 23px;font-size: 0.8em; }
    .royal .learn{bottom: 14%; width: 129px; right: 10%;}
    .btn_1 span{width: 150px; font-size: 1.3em;left: -20px;}
    /* .btn_1 a span{top:123px!important; left:26px!important;} */
    #r-img-box h2 { width: 62%; position: absolute; z-index: 100; padding:6%;font-size:3em;right: 42px;}
    .prev1{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next1{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

    #suite{width: 100%; overflow: hidden;}
    #s-img-box{width: 300%; position: relative;}
  
     .s_img1{width: 33.33%; height: 400px; position:static; float: left;}
    .s_img:nth-of-type(2){width: 33.33%; height: 400px;  position:static; float: left;}
    #s-text-box { top: 62%;left:43px;line-height: 23px;font-size: 0.8em; }
    .suite .learn{bottom: 14%; width: 129px;left: auto; right: 10%;}
    .btn_2 span{width: 150px; font-size: 1.3em; left: -18px;}
    #s-img-box h2 {width: 33%; position: absolute; padding: 2%; z-index: 100; font-size: 3em;left: 0;}
    .prev2{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next2{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

    #twin{width: 100%; overflow: hidden;}
    #t-img-box{ width: 300%;  position: relative;}
    .t_img1{width:33.33%; height: 400px; position: static;float: left;}
   
    #t-text-box {width: 100%; top: 62%;left: 8%;line-height: 23px;font-size: 0.8em; }
    .twin .learn{bottom: 14%; width: 129px;right: 10%;}
    .btn_2 span{width: 150px; font-size: 1.3em; left: -18px;}
    
    #t-img-box h2 { width: 33%; position: absolute; padding: 2%; z-index: 100; font-size: 3em;left: 0;}
    .prev3{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next3{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

    #tiwn2{width: 100%; overflow: hidden;}
    #t2-img-box{ width: 300%;  position: relative;}
    .t2_img1{width: 33.33%;height: 400px;position: static; float: left; }
    #t2-img-box .t2_img1{width: 33.33%;height: 400px;position: static; float: left; }
    
    #t2-text-box { top: 62%;left:32px;line-height: 23px;font-size: 0.8em; }
    .btn-border1 {top: 45px; left:2%}
    .btn_2 a span{top:123px!important; left:37px!important;}
    #t2-img-box h2 {width: 33%;padding:2%; position: absolute; z-index: 100; font-size: 2.5em;left: 0;}
    #t-text-box {width: 100%; top: 62%;left: 8%;line-height: 23px;font-size: 0.8em; }
    .twin2 .learn{bottom: 14%; width: 129px;left: auto; right: 10%;}
    .prev4{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next4{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   

    #double{width: 100%; overflow: hidden;}
    #d-img-box{ width: 300%; height: 400px; position: relative;}
    .d_img1{width: 33.33%;height: 400px; position: static;float: left;}
     #d-text-box {width: 100%; top: 62%;left:8%;line-height: 23px;font-size: 0.8em; }
    #t-text-box {width: 100%; top: 62%;left: 8%;line-height: 23px;font-size: 0.8em; }
    .double .learn{bottom: 14%; width: 129px;right: 10%;}
    .btn_2 a span{top:123px!important; left:26px!important;}
    #d-img-box h2 {width: 33%; padding: 2%; position: absolute; z-index: 100; font-size: 3em;left:0;}
    .prev5{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next5{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   


    #double2{width: 100%; overflow: hidden;}
    #d2-img-box{ width: 300%;position: relative;}
    #d2-img-box .d2_img1{width: 33.33%; height: 400px; position: static;float: left;}
   
    #d2-text-box { top: 62%;left:32px;line-height: 23px;font-size: 0.8em; }
    #t-text-box {width: 100%; top: 62%;left: 8%;line-height: 23px;font-size: 0.8em; }
    .double2 .learn{bottom: 14%; width: 129px;left: auto; right: 10%;}
    .btn_2 a span{top:123px!important; left:37px!important;}
    #d2-img-box h2 { width:33%; padding: 2%; left: 0; position: absolute; z-index: 100; font-size: 2.5em;}
    .prev6{ color: white; position: absolute; top:47%; left: 10%; font-size: 2em;cursor: pointer; }
    .next6{ color: white; position: absolute;top: 47%; right: 10%; font-size: 2em; cursor: pointer;}
   


    #about_hotel_1{ height:116px ;}
    #about_hotel_1 a { width:69% ;font-size: 1.5em;right: 30%;}
  }


  @media (min-width:767px) and (max-width:1200px){
     #room_k article{height: 700px;}
#subs{width: 30%;}
     .a{display: none;}
     .subs{width: 23%;}
    #room_n{height: 399px;}
    #room_n h1{font-size: 5em; padding: 13px;}
    #room_n ul li{width: 40%;height: 35px;line-height: 35px; text-align: left;padding: 0 2%;}
    #room_n ul li a{font-size: 1em;}
    .rm_img{height: 490px;}
    #r-img-box{top:4%;}
    .rr_img, .rrr_img{height: 205px; top:26%}
    #r-text-box{top:7%; right: 10%; line-height: 27px;}
    #r-text-box p{font-size:0.8em;}
    .btn_1 a span{top:141px; left:-13px;}

    .royal .learn{ position: absolute;right: 3%; bottom: 131px;}

    #s-text-box { left: 10%; top: 1%;line-height: 29px; font-size: 0.8em; }
   .sm_img{height: 490px;}
  .sss_img{ height: 205px; top: 26%;}
  .ss_img{ height: 205px; top:26%;}
  .suite .learn{bottom:154px ; left: 3%;}


  #t-text-box p{font-size:0.8em;}
  .btn_1 a span{top:141px; left:-13px;}
 .twin .learn{ position: absolute;bottom: 154px; right: 3%;}

#t-text-box {top: 1%;line-height: 29px; font-size: 1em; right: 14%; }
 .tm_img{height: 490px;}
.ttt_img{ height: 205px; top: 46%;}
.tt_img{ height: 205px; top:46%;}



#t2-text-box {top: 1%;line-height: 29px; font-size: 0.8em; left: 12%; }
.t2m_img{height: 490px;}
.t222_img{ height: 205px; top: 26%;}
.t22_img{ height: 205px; top:26%;}
.twin2 .learn{bottom:154px; left: 3%;}


#d-text-box {top: 1%;line-height: 29px; font-size: 0.8em; right: 10%; }
.dm_img{height: 490px;}
.ddd_img{ height: 205px; top: 46%;}
.dd_img{ height: 205px; top:46%;}
.double .learn{bottom:154px; right: 3%;}




#d2-text-box {left: 10%; top: 1%;line-height: 29px; font-size: 0.8em; }
.d2m_img{height: 490px;}
.d222_img{ height: 205px; top: 26%;}
.d22_img{ height: 205px; top:26%;}
.double2 .learn{bottom:154px;left: 3%;}


#about_hotel_1{ height:116px ;}
#about_hotel_1 a { width:69% ;font-size: 3em;left: 27%;}

  }

  @media (min-width:1201px) and (max-width:1500px){

  
#room_k article{height: 928px;}
.a{display: none;}
#room_n ul li:nth-child(2){width: 6%;}

#room_n ul li:nth-child(6){width: 16%;}
#room_n ul li{width: 13%; font-size: 1em;}
#r-text-box, #t-text-box, #d-text-box{ right: 13%; }

.rm_img{height: 78vh;}
.rr_img , .rrr_img{height: 300px; bottom: 29%;}
.royal .learn{bottom: 17%;}

.sm_img{height: 78vh;}
.ss_img , .sss_img{height: 300px; top:37%;}

.tion_box{right: 3%;}

.tm_img{height: 78vh;}
.tt_img , .ttt_img{height: 300px; top:47%;}


.t2m_img{height: 78vh;}
.t22_img , .t222_img{height: 300px; top:37%;}


.dm_img{height: 78vh;}
.dd_img , .ddd_img{height: 300px; top:46%;}

.d2m_img{height: 78vh;}
.d22_img , .d222_img{height: 300px;}


#about_hotel_1 a { width:69% ;font-size: 4em;right: 33%;}
  }


